table {
    border-collapse: collapse;
}

th, td {
    border: .2rem thin var(--on-secondary-2);
    margin: 1rem;
    width: 4rem;
    padding: .5rem;
}

tr:nth-child(2n) {
    background-color: var(--on-background-color);
}

tr:hover {
    background-color: var(--background-color);
    color: var(--on-background-color);
}