.form-group-inline {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: .8rem;
  }
  
 .form-group-inline label {
    grid-column: 1 / 2;
  }
  
 .form-group-inline input {
    grid-column: 2 / 3;
    margin: 0 1vw;
  }

  .form-group-stacked {
      display: flex;
      flex-direction: column;
      margin: .2rem 0;
  }