.menubutton {
    background-color: transparent;
    border: none;
    width: 2.7rem;
    height: 1.85rem;
    position: relative;
    margin: 1rem;
}

.menubar {
    width: 1.2rem;
    height: .1rem;
    background-color: var(--on-background-color);
    border-radius: .5rem;
    margin: .4rem;
}
