.btn-primary {
    background-color: var(--background-color);
    color: var(--on-background-color);
    padding: .5rem;
    border-color: transparent;
    border-radius: .2rem;
    cursor: pointer;
}

/* .btn-primary:active {
    border: none;
} */

/* .btn-close */
.btn-close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.btn-close:active .line {
    width: 1.2rem;
}

.line {
    width: 1.4rem;
    height: .1rem;
    background-color: var(--on-background-color-2);
}

.close-line-1 {
    transform: rotate(42deg) translate(0.1rem, .25rem) ;
}

.close-line-2 {
    transform: rotate(-45deg)  translateX(-0.2rem);
}