body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* primary */
  --primary-h: 214;
  --on-primary-h: 0;
  --primary: hsl(var(--primary-h), 100%, 21%);
  /* on-primary */
  --on-primary: hsl(var(--on-primary-h), 0%, 96%);

  --primary-2: var(--on-primary);

  --on-primary-2: var(--primary);
  
  /* secondary */
  --secondary: hsl(214, 100%, 21%);
  /* on-secondary */
  --on-secondary: hsl(0, 0%, 100%);

    /* secondary */
    --secondary-2: hsl(0, 0%, 100%);
    /* on-secondary */
    --on-secondary-2: hsl(214, 100%, 21%);

  /* important */
  --important: hsl(28, 94%, 58%);

  --on-important: var(--on-primary);

  /* background */
  --background-color: var(--primary);
  --background-color-2: var(--primary-2);
  --background-color-secondary: var(--secondary);

  --on-background-color: var(--on-primary);
  /* on-background-color */
  --on-background-color-2: var(--on-primary-2);

  /* surface */
  --surface: var(--background-color-2);

  /* on-surface */
  --on-surface: var(--on-background-color-2);

  /* error */
  --error: hsl(347, 100%, 50%);
  /* on-error */
  --on-error: hsl(0, 0%, 0%);


/* consider having all of the following specified for consistency */

/* 
  
	* border
	* outline
	* background
	* text
	* navbar
	* shadow
	* links
	* focus
	* error
	* blur

*/

    /* selected */
  --selected: hsl(213, 94%, 25%);

  --color: var(--on-background-color-2);
  /* --color-fade:  */
  --text-color: var(--color);
  --input-focus:var(--important);
  --border-color: var(--primary);
  --outline-color: var(--primary);
  --link: var(--on-primary);
  --btn-primary:var(--on-primary);
  --box-shadow-color: hsla(214, 28%, 71%, 0.434);
  --multiplier: 1;
  --divider-on-primary: hsl(var(--primary-h), 0%, 90%);

  --menu-top-position: 7.5;
  --menu-right-position: 2;

}

@media (min-width: 40rem) {
  :root {
    --multiplier: 2
  }
}

@media (min-width: 80rem) {
  :root {
    --multiplier: 3
  }
}

/* caret-item */ 
.caret-item {
  display: flex;
  cursor: pointer;
}

/* app-title */
.app-title {
  position: absolute;
  left: 4rem;
  bottom: .05rem;
} 

/* form-area */
.form-area {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.divider {
  width: 100%;
  height: .1rem;
  background-color: var(--divider-on-primary);
}

.table {
  margin-top: 3vh;
}

.menu-container {
  /* position: relative; */
  cursor: pointer;
}

.menu-container .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    position: absolute;
    top:calc(var(--menu-top-position)*1rem);
    right: calc(var(--menu-right-position)*1rem);
    list-style: none;
    padding: 0 .1rem;
    margin: 0;
}


.menu-container .menu li {
    border: .1rem solid var(--on-background-color);
    padding: .4rem .5rem;
    width: 100%;
}

.menu-container .menu li:hover {
    background-color: var(--on-background-color);
}
.menu-container .caret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .5rem .5rem .5rem;
    border-color: var(--on-background-color) transparent;
    background-color: transparent;
    position: absolute;
    top: calc(var(--menu-top-position) + .01rem);;
    right: calc(var(--menu-right-position)*1rem);
}